<div id="contacto" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/contacto.less</em>, <em>assets/js/pages/contacto.page.js</em>, and <em>api/controllers/view-contacto.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
